# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [61]:
# CODE HERE
s={1,2,"hub","innomatics"}

In [62]:
s

{1, 2, 'hub', 'innomatics'}

In [63]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [64]:
# CODE HERE
s.add("Technology")

In [65]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [66]:
# CODE HERE
sc={3,4,"hub","Technology"}

In [67]:
sc

{3, 4, 'Technology', 'hub'}

In [68]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [69]:
# CODE HERE
s.difference(sc)

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [70]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [71]:
s.remove(2)

In [72]:
s

{1, 'Technology', 'hub', 'innomatics'}

In [73]:
# CODE HERE

In [74]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [75]:
# CODE HERE
s.intersection(sc)

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [76]:
# CODE HERE
s.union(sc)

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [41]:
# CODE HERE
fruits={"orange","apple","kiwi"}
colors={"orange","red","green"}
colors.union(fruits)

{'apple', 'green', 'kiwi', 'orange', 'red'}

In [2]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [77]:
# CODE HERE
set1 = {10, 20, 30, 40, 50}
set1_remove={10,20,30}
set1.difference_update(set1_remove)
print(set1)

{50, 40}

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)