# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [70]:
# CODE HERE
person1={"Gender":"male","Name":"john","Occupation":"Data Scientist","Location":"Nizampet,Hyderabad"}

In [71]:
person1

{'Gender': 'male',
 'Name': 'john',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

In [72]:
person1

{'Gender': 'male',
 'Name': 'john',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

> print keys in person1 as a list

In [73]:
# CODE HERE
list(person1)

['Gender', 'Name', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [74]:
# CODE HERE
dict(person1)
print(person1)

{'Gender': 'male', 'Name': 'john', 'Occupation': 'Data Scientist', 'Location': 'Nizampet,Hyderabad'}

In [75]:
print(person1["Location"])

Nizampet,Hyderabad

In [76]:
person1.pop("Location")

print(person1)

{'Gender': 'male', 'Name': 'john', 'Occupation': 'Data Scientist'}

In [79]:
person1["Age"]=27
person1["Gender"]="male"
person1["Name"]="john"
person1["Occupation"]="Data Scientist"
print(person1)

{'Gender': 'male', 'Name': 'john', 'Occupation': 'Data Scientist', 'Age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [83]:
# CODE HERE
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scienctist"}

In [84]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scienctist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [6]:
# CODE HERE

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

In [88]:
person1={"Gender":"male","Name":"john","Occupation":"Data Scientist","Location":"Nizampet,Hyderabad"}
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scienctist"}

In [89]:
print("==============person1=====================")
print(person1)
print("==============person2=====================")
print(person2)

==============person1=====================
{'Gender': 'male', 'Name': 'john', 'Occupation': 'Data Scientist', 'Location': 'Nizampet,Hyderabad'}
==============person2=====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scienctist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [1]:
# CODE HERE


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [2]:
# CODE HERE

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [96]:
# CODE HERE
sample_dict = {'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},'emp3': {'name': 'Charan', 'salary': 6500}}
print(sample_dict["emp1"])
print(sample_dict["emp2"])
print(sample_dict["emp3"])

{'name': 'Jhony', 'salary': 7500}
{'name': 'Ravi', 'salary': 8000}
{'name': 'Charan', 'salary': 6500}

In [98]:
sample_dict["emp3"]["salary"]=8500
print(sample_dict["emp1"])
print(sample_dict["emp2"])
print(sample_dict["emp3"])

{'name': 'Jhony', 'salary': 7500}
{'name': 'Ravi', 'salary': 8000}
{'name': 'Charan', 'salary': 8500}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [102]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [110]:
sampleDict["class"]["student"]["marks"]["history"]

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [ ]:
# CODE HERE

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)