## 1. Create Python class named `Student` and display its type

In [ ]:
# CODE HERE

<class 'type'>

## 2. How to call a variable and function by creating a simple class

In [ ]:
class Dog:
     #CODE HERE

This is Variable1
I'm from function This is Variable1

## 3. Create a class with one `static variable` and two `instace variables`

In [11]:
class Demo():
#CODE HERE

I am Static variable
instance_var1
instance_var2

## 4. Create a `Vehicle` class with max_speed and mileage instance attributes

In [ ]:
# CODE HERE

In [ ]:
class Vehicle:
    #CODE HERE

240 18

## 5. Create a simple class `Person` with constructer and one argument `name`

In [ ]:
# CODE HERE

In [ ]:
# A Sample class with init method
class Person:
   
    #CODE HERE
   
p = Person('Ram')
p.say_hi()

Hello, my name is Ram

## 6. Create a class for `Students` information like `name, rollno, marks` and `school name` with static variable.
- create a function for displaying student information
- create one more function for getting students marks and percentage

In [ ]:
class Student:
    # CODE HERE

Name: abc, RollNo: 1, Marks: 399, College: DIT
Dictionary :  {'name': 'abc', 'rno': 1, 'marks': 399}
percentahe of 399 out of 500 is :  79.80000000000001

## 7. Create a child class `Bus` that will inherit all of the variables and methods of the `Vehicle` class

In [ ]:
# CODE HERE

In [ ]:
class Vehicle:

    #CODE HERE

Vehicle Name: School Bus Speed: 180 Mileage: 12

## 8. Create a class `Employee` with two arguments `name and salary`
- create a function which displays the employee information
- Print total number of employees

In [10]:
class Employee:
   
   #CODE HERE

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2